# Descriptive Statistics: Central Tendency

In [19]:
#Question-1
#  Find the mean,and median of the data frame below?
# Create a Dictionary of series
# df={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','Chanchal','Gasper','Naviya','Andres']),
#     ' Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
#     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

In [21]:
import pandas as pd
df={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','Chanchal','Gasper','Naviya','Andres']),
    ' Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
    'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

data=pd.DataFrame(df)
print('DataFrame\n---')
print(data)
print()
print('mean data is:\n',data.mean())
print()
print('median data is: \n',data.median())

DataFrame
---
        Name   Age  Rating
0        Tom    25    4.23
1      James    26    3.24
2      Ricky    25    3.98
3        Vin    23    2.56
4      Steve    30    3.20
5      Smith    29    4.60
6       Jack    23    3.80
7        Lee    34    3.78
8   Chanchal    40    2.98
9     Gasper    30    4.80
10    Naviya    51    4.10
11    Andres    46    3.65

mean data is:
  Age      31.833333
Rating     3.743333
dtype: float64

median data is:
  Age      29.50
Rating     3.79
dtype: float64

C:\Windows\Temp\ipykernel_23352\1552751903.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print('mean data is:\n',data.mean())
C:\Windows\Temp\ipykernel_23352\1552751903.py:12: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print('median data is: \n',data.median())

In [17]:
#Question-2
# find the mode of the data frame
# df={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','Chanchal','Gasper','Naviya','Andres']),
#     ' Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
#     'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

In [18]:
import pandas as pd
df={'Name':pd.Series(['Tom','James','Ricky','Vin','Steve','Smith','Jack','Lee','Chanchal','Gasper','Naviya','Andres']),
     ' Age':pd.Series([25,26,25,23,30,29,23,34,40,30,51,46]),
      'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8,3.78,2.98,4.80,4.10,3.65])}

data=pd.DataFrame(df)
print('DataFrame\n---')
print(data)
print()
print()
print('Mode data is:\n',data.mode())

DataFrame
---
        Name   Age  Rating
0        Tom    25    4.23
1      James    26    3.24
2      Ricky    25    3.98
3        Vin    23    2.56
4      Steve    30    3.20
5      Smith    29    4.60
6       Jack    23    3.80
7        Lee    34    3.78
8   Chanchal    40    2.98
9     Gasper    30    4.80
10    Naviya    51    4.10
11    Andres    46    3.65


Mode data is:
         Name   Age  Rating
0     Andres  23.0    2.56
1   Chanchal  25.0    2.98
2     Gasper  30.0    3.20
3       Jack   NaN    3.24
4      James   NaN    3.65
5        Lee   NaN    3.78
6     Naviya   NaN    3.80
7      Ricky   NaN    3.98
8      Smith   NaN    4.10
9      Steve   NaN    4.23
10       Tom   NaN    4.60
11       Vin   NaN    4.80

In [23]:
#Question-3
# harmonic_mean()This function returns the harmonic mean of the data.for three values [2,4,9,7] find out the harmonic mean

In [1]:
import statistics
data=[2,4,9.7]
print('Harmonic Mean is: ',statistics.harmonic_mean(data))

Harmonic Mean is:  3.516616314199396

In [25]:
#Question-4
# Consider the ages of five employees as 30,30,32,38,60 years. Calculate the measures of central tendency

In [4]:
import statistics
x=[30,30,32,38,60]
print('Central Tendency(Mean,Median,Mode)')
print('Mean of the data is:',statistics.mean(x))
print('Median of the data is:',statistics.median(x))
print('Mode of the data is:',statistics.mode(x))

Central Tendency(Mean,Median,Mode)
Mean of the data is: 38
Median of the data is: 32
Mode of the data is: 30

In [ ]:
#Question-5
# A batsman scores an average of 48 runs in six matches. if his score in five matches is 51, 45,46,44,and 49.Find his score
#  in the sixth match?

In [47]:
import statistics
data=[51,45,46,44,49]
print('Average of the sixth match is:',statistics.mean(data))

Average of the sixth match is: 47

# Varience, Standard Deviation

In [40]:
#Question-1
# Find standard deviation for the given list of items
# items=[12,86,87,88,88,87,85,86]

In [44]:
import statistics
data=[12,86,87,88,88,87,85,86]
print('The Standard Deviation is:',statistics.stdev(data))

The Standard Deviation is: 26.435568571798974

In [48]:
#Question-2
# Below three columns, calculate standard deviation using pandas library first convert below d into a dataframe
# d={'Name':['Alisa','Bobby','Cathrine','Madonna','Rocky','Sebastian','Jaqluine','Rahul','David','Andrew','Ajay','Teresa'],
#    'Score1':[65,47,55,74,31,77,85,63,42,32,71,57],'Srore2':[89,87,67,55,47,72,76,79,44,92,99,69]
#     'Score3':[56,86,77,45,73,62,74,89,71,67,97,68]}

In [55]:
import pandas as pd
import statistics
d={'Name':['Alisa','Bobby','Cathrine','Madonna','Rocky','Sebastian','Jaqluine','Rahul','David','Andrew','Ajay','Teresa'],
   'Score1':[65,47,55,74,31,77,85,63,42,32,71,57],'Srore2':[89,87,67,55,47,72,76,79,44,92,99,69],
   'Score3':[56,86,77,45,73,62,74,89,71,67,97,68]}
data=pd.DataFrame(d)
print(data)
print()
print('Standard Deviation of the data is:\n ',data.std())

         Name  Score1  Srore2  Score3
0       Alisa      65      89      56
1       Bobby      47      87      86
2    Cathrine      55      67      77
3     Madonna      74      55      45
4       Rocky      31      47      73
5   Sebastian      77      72      62
6    Jaqluine      85      76      74
7       Rahul      63      79      89
8       David      42      44      71
9      Andrew      32      92      67
10       Ajay      71      99      97
11     Teresa      57      69      68

Standard Deviation of the data is:
  Score1    17.529845
Srore2    17.653225
Score3    14.355603
dtype: float64

C:\Windows\Temp\ipykernel_23352\2454108236.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print('Standard Deviation of the data is:\n ',data.std())

In [56]:
#Question-3
# Below is the data for six students studying average hours in a day.Find the standard deviation for the data 
# x=[3,7,6,4,3,4]

In [60]:
import statistics
x=[3,7,6,4,3,4]
print('Average of the six studying hours:',statistics.mean(x))
print('Standard Deviation of the data:',statistics.stdev(x))

Average of the six studying hours: 4.5
Standard Deviation of the data: 1.6431676725154984

In [61]:
#Question-4
# Calculate varience() for the given list using the statistics module
# x=[4,8,6,5,3,2,8,9,2,5]

In [63]:
import statistics
x=[4,8,6,5,3,2,8,9,2,5]
print('Varience of the x is:',statistics.variance(x))

Varience of the x is: 6.4

In [64]:
#Question-5
# Write a code to that takes data from a sample and returns an estimation of the population standard deviation,
# x=[4,8,6,5,3,2,8,9,2,5]
# Hint:stdev()

In [65]:
import statistics 
x=[4,8,6,5,3,2,8,9,2,5]
print('Standard Deviation of the data:',statistics.stdev(x))

Standard Deviation of the data: 2.5298221281347035