In [ ]:
#Question-1
#  REFER THE FOLLOWING DATABASES:
#  Drive link for the “products” table: SQL where statement database(products).xlsx
#  Drive link for the “customer” table: SQL where statement database(customer).xlsx
#  Write SQL statement  to lists the number of customers in each country. Only include countries with more than 3 customers

In [ ]:
SELECT customer.country, COUNT(DISTINCT customer.customer_id) AS num_customers
FROM customer
INNER JOIN products
ON customer.customer_id = products.customer_id
GROUP BY customer.country
HAVING COUNT(DISTINCT customer.customer_id) > 3

In [ ]:
#Question-2
# Write SQL statement to lists the number of orders sent by each shipper, the information is in two table so joinis also 
# with Group by statement: As you can see in below example the ShipperID is common in both tables Orders and Shippers.

In [ ]:
SELECT shippers.shipper_name, COUNT(orders.shipper_id) AS num_orders
FROM orders
INNER JOIN shippers
ON orders.shipper_id = shippers.shipper_id
GROUP BY shippers.shipper_name

In [ ]:
#Question-3
# Find the number of customers in each country using group by statement

In [ ]:
SELECT country, COUNT(customer_id) AS num_customers
FROM customer
GROUP BY country

In [ ]:
#Question-4
# Write a multiple order by a statement where the county is in ascending order and the customer name is in descending order
# from the customer's table

In [ ]:
SELECT customer_id, customer_name, country
FROM customer
ORDER BY country ASC, customer_name DESC

In [ ]:
#Question-5
# Write a SQL statement to selects all customers from the "Customers" table, sorted by the "Country" column
# in descending order:

In [ ]:
SELECT CustomerID, CustomerName, Country
FROM Customers
ORDER BY Country DESC;

In [ ]:
#Question-6
# Write a SQL statement to selects all customers from the "Customers" table, sorted by the "Country" column:

In [ ]:
SELECT CustomerID, CustomerName, Country
FROM Customers
ORDER BY Country;

In [ ]:
#Question-7
# Write a SQL statement, to select all fields from "Customers" where the country is NOT "Germany" and NOT "USA":

In [ ]:
SELECT *
FROM Customers
WHERE Country NOT IN ('Germany', 'USA');

In [ ]:
#Question-8
# REFER THE FOLLOWING DATABASES:
# Drive link for the “products” table: SQL where statement database(products).xlsx
# Drive link for the “customer” table: SQL where statement database(customer).xlsx
# Write a SQL statement, selects all fields from "Customers" where the country is "Germany" AND city must be 
# "Berlin" OR "München" (use parenthesis to form complex expressions):

In [ ]:
SELECT *
FROM Customers
WHERE Country = 'Germany' AND (City = 'Berlin' OR City = 'München')