In [1]:
#Question-1
# Accept a number and check whether it is palindrome or not.

In [1]:
number = input("Enter a number: ")
reverse_number = number[::-1]
if number == reverse_number:
    print(number, "is a palindrome!")
else:
    print(number, "is not a palindrome.")

Enter a number: 1234321
1234321 is a palindrome!

In [2]:
#Question-2
# Write a program to display all the numbers which are divisble by 11 but not by 2 between 100 and 500.

In [2]:
for num in range(100, 501):
    if num % 11 == 0 and num % 2 != 0:
        print(num)

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [ ]:
#Question-3
# Write a program to find the sum of the digits of a number accepted form user

In [3]:
num = input("Enter a number: ")
digit_sum = 0
for digit in num:
    digit_sum += int(digit)
print("The sum of the digits is:", digit_sum)

Enter a number: 38
The sum of the digits is: 11

In [ ]:
#Question-4
# Write a program to find the factorial of a number

In [5]:
num = int(input("Enter a number: "))
factorial = 1                            # initialize factorial to 1
for i in range(1, num+1):                # calculate factorial using a for loop
    factorial *= i
print("The factorial of", num, "is", factorial)

Enter a number: 12
The factorial of 12 is 479001600

In [ ]:
#Question-5
# Write a program to display the product of the digits of a number accepted from the user.

In [6]:
num = input("Enter a number: ")
digit_product = 1
for digit in num:
    digit_product *= int(digit)
print("The product of the digits is:", digit_product)

Enter a number: 8
The product of the digits is: 8

In [ ]:
#Question-6
# Calculate the average of the number given in the list through loop.
# list1=[34,6,43,2,32,44,55,33,32]

In [7]:
list1 = [34, 6, 43, 2, 32, 44, 55, 33, 32]
sum = 0                                                # initialize sum to 0 and count to the length of the list
count = len(list1)                                     # calculate the sum of the numbers in the list using a for loop
for num in list1:
    sum += num
average = sum / count                                  # calculate the average by dividing the sum by the count
print("The average of the numbers in the list is:", average)

The average of the numbers in the list is: 31.22222222222222

In [ ]:
#Question-7
# Write a program swap the keys to values and values to keys of the given dictionary,
# Module={'Data Science':1,'Machine Learning':2,'SQL':3,'Big Data':4}
# Output:{1:'Data Science',2:'Machine Learning',3:'SQL',4:'Big Data'}

In [8]:
Module = {'Data Science': 1, 'Machine Learning': 2, 'SQL': 3, 'Big Data': 4}
swapped_module = {}                                 # initialize an empty dictionary to store the swapped keys and values
for key, value in Module.items():                   # iterate over the original dictionary and swap the keys and values
    swapped_module[value] = key
print("Original dictionary:", Module)
print("Swapped dictionary:", swapped_module)

Original dictionary: {'Data Science': 1, 'Machine Learning': 2, 'SQL': 3, 'Big Data': 4}
Swapped dictionary: {1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

In [ ]:
#Question-8
# Write a program to extract the words from the given list which have their first character in uppercase.
# Days=['Monday','tuesday','friday','Sunday','Saturday']
# Output:['Monday','Sunday','Saturday']

In [9]:
Days = ['Monday', 'tuesday', 'friday', 'Sunday', 'Saturday']
output = []
for day in Days:
    if day[0].isupper():
        output.append(day)
print(output)

['Monday', 'Sunday', 'Saturday']

In [ ]:
#Question-9
# write a program to count all the elements from wrong text but it should not consider space and vowels
# wrong="""But soft what light through younder window breaks it is the east and juliet is the sun Arise fair
#        sun and kill the envious moon who is already sick and pale with grief"""

In [13]:
wrong = """But soft what light through younder window breaks it is the east and juliet is the sun Arise fair sun
          and kill the envious moon who isalready sick and pale with grief"""
count = 0
vowels = 'aeiouAEIOU '
for char in wrong:
    if char not in vowels:
        count += 1
print(count)

84

In [ ]:
#Question-10
# Remove duplicates from the given list num2 using loop.
# num2=[1,2,3,41,3,5,4,56,4,4,36,6,66,645,3,3,5,6,4,3,48]

In [14]:
num2 = [1, 2, 3, 41, 3, 5, 4, 56, 4, 4, 36, 6, 66, 645, 3, 3, 5, 6, 4, 3, 48]
unique = []
for num in num2:
    if num not in unique:
        unique.append(num)
print(unique)

[1, 2, 3, 41, 5, 4, 56, 36, 6, 66, 645, 48]

In [ ]:
#Question-11
# Write a program to check whether two numbers are amicable or not (take the input from the user).

In [18]:
x=int(input('Enter first number:'))
y=int(input('Enter second number:'))
sum1=0
sum2=0
for i in range(1,x):
    if x%i==0:
        sum1+-i
for j in range(1,y):
    if x%i==0:
        sum2+=j
if sum1 == num2 and sum2 == num1:               # check if the numbers are amicable
    print("The numbers are amicable!")
else:
    print("The numbers are not amicable.")

Enter first number:220
Enter second number:284
The numbers are not amicable.

In [ ]:
#Question-12
# write a program to check whether a number is prime or not (take the input from user)

In [19]:
num = int(input("Enter a number: "))                # take input from the user
if num > 1:                                         # check if the number is prime
    for i in range(2, int(num/2)+1): 
        if num % i == 0:
            print(num, "is not a prime number.")
            break
    else:
        print(num, "is a prime number.")
else:
    print(num, "is not a prime number.")

Enter a number: 43
43 is a prime number.

In [ ]:
#Question-13
# Reverse string using a for loop (take the input from user).

In [20]:
string = input("Enter a string: ")                       # take input from the user
reverse_string = ""                                      # take input from the user
for i in range(len(string)-1, -1, -1):                   # iterate through the string backwards using a for loop
    reverse_string += string[i]
print("The reversed string is:", reverse_string)         # print the reversed string

Enter a string: venky
The reversed string is: yknev

In [ ]:
#Question-14
# Write a program for generating a fibonacci series starting with 0 and 1 for the next 10 values using a while loop.

In [21]:
num1 = 0                     # initialize the first two numbers in the series
num2 = 1
print(num1)                  # print the first two numbers
print(num2)
count = 2                    # generate the next 10 numbers using a while loop
while count < 12:
    next_num = num1 + num2   # calculate the next number in the series
    print(next_num)          # print the next number
    num1 = num2              # update the values of num1 and num2 for the next iteration
    num2 = next_num
    count += 1               # increment the count variable

0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#Question-15
# Write a code to print table of 5 using assignment operend+=.(using while)

In [23]:
num = 5                                                      # initialize the number and the multiplier
multiplier = 1
while multiplier <= 10:                                     # print the table using a while loop
    print(num, "*", multiplier, "=", num*multiplier)
    multiplier += 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50