In [ ]:
#Question-1
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of 
# [1,2,3,4,5,6] of data.

In [1]:
import pandas as pd
# Create a one-dimensional array-like object
arr = pd.Series([1, 2, 3, 4, 5, 6])
# Display the array-like object
print(arr)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [ ]:
#Question-2
# Write a Pandas program to convert a Panda module Series of [9,8,7,6,5,4,3,2,1] to Python list and it’s type.

In [2]:
import pandas as pd
# Create a Pandas Series object
series = pd.Series([9, 8, 7, 6, 5, 4, 3, 2, 1])
# Convert Pandas Series to Python List
my_list = series.tolist()
# Print the Python List and its type
print(my_list)
print(type(my_list))

[9, 8, 7, 6, 5, 4, 3, 2, 1]
<class 'list'>

In [ ]:
#Question-4
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
# Sample Series: [1,2,3,4,5,6], [6,5,4,3,2,1]

In [3]:
import pandas as pd
# Create two Pandas Series
series1 = pd.Series([1, 2, 3, 4, 5, 6])
series2 = pd.Series([6, 5, 4, 3, 2, 1])
# Addition of two Series
addition = series1 + series2
# Subtraction of two Series
subtraction = series1 - series2
# Multiplication of two Series
multiplication = series1 * series2
# Division of two Series
division = series1 / series2
# Print the results
print("Addition:\n", addition)
print("Subtraction:\n", subtraction)
print("Multiplication:\n", multiplication)
print("Division:\n", division)

Addition:
 0    7
1    7
2    7
3    7
4    7
5    7
dtype: int64
Subtraction:
 0   -5
1   -3
2   -1
3    1
4    3
5    5
dtype: int64
Multiplication:
 0     6
1    10
2    12
3    12
4    10
5     6
dtype: int64
Division:
 0    0.166667
1    0.400000
2    0.750000
3    1.333333
4    2.500000
5    6.000000
dtype: float64

In [ ]:
#Question-4
# Write a Pandas program to compare the elements of the two Pandas Series.
# Sample Series: [9,8,7,6,5,4,3,2,1][1,2, 3,4, 5,6, 7,8,9]

In [4]:
import pandas as pd
# create the two series
series1 = pd.Series([9,8,7,6,5,4,3,2,1])
series2 = pd.Series([1,2,3,4,5,6,7,8,9])
# compare the two series
comparison = series1 == series2
# print the comparison
print(comparison)

0    False
1    False
2    False
3    False
4     True
5    False
6    False
7    False
8    False
dtype: bool

In [ ]:
#Question-5
# Write a Pandas program to convert a dictionary to a Pandas series.
# Sample dictionary: d1 = {'a’': 10, 'b': 20, 'c':30, 'd':40, 'e':50}

In [5]:
import pandas as pd
# create the dictionary
d1 = {'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}
# convert the dictionary to a Pandas series
series = pd.Series(d1)
# print the series
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [ ]:
#Question-6
# Write a Pandas program to convert a NumPy array to a Pandas series.
# Sample NumPy array: d1 = [1, 2, 3, 4, 5,6,7,8,9,10]

In [6]:
import pandas as pd
import numpy as np
# create the NumPy array
d1 = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
# convert the NumPy array to a Pandas series
series = pd.Series(d1)
# print the series
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int32

In [ ]:
#Question-7
# Write a Pandas program to sort a Series [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

In [7]:
import pandas as pd
data = [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]
# create a Pandas series from the data
s = pd.Series(data)
# sort the series in ascending order
s_sorted = s.sort_values()
print("Sorted Series:\n", s_sorted)

Sorted Series:
 1      20
4      50
6      70
0     100
9     100
10    110
7     180
3     250
15    260
2     300
11    320
5     360
14    590
13    640
12    830
8     960
dtype: int64

In [ ]:
#Question-8
# Write a Pandas program to get the items of a given series not present in another given series.

In [8]:
import pandas as pd
s1 = pd.Series([1, 2, 3, 4, 5])
s2 = pd.Series([2, 4, 6, 8, 10])
not_in_s2 = s1[~s1.isin(s2)]
print(not_in_s2)

0    1
2    3
4    5
dtype: int64

In [ ]:
#Question-9
# Write a Pandas program to change the order of index of a given series.

In [9]:
import pandas as pd
# create a sample series
s = pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])
# display the original series
print("Original Series:")
print(s)
# change the order of index
s = s.reindex(index=['d', 'c', 'b', 'a'])
# display the updated series
print("\nSeries with changed index order:")
print(s)

Original Series:
a    1
b    2
c    3
d    4
dtype: int64

Series with changed index order:
d    4
c    3
b    2
a    1
dtype: int64

In [ ]:
#Question-10
# Write a Pandas program to change the data types.
# Sample Series:
# Actual Data Series: [ Ajay, 10, python, 15.03, 25]    dtype: object
# Modified Data Series : [Nan, 10.00, Nan, 15.03, 25.00]dtype: float64

In [10]:
import pandas as pd
import numpy as np
# create the actual data series
s1 = pd.Series(['Ajay', 10, 'python', 15.03, 25])
print("Actual Data Series:")
print(s1)
# change the data types to float and NaN where applicable
s2 = pd.to_numeric(s1, errors='coerce')
# display the modified data series
print("Modified Data Series:")
print(s2)

Actual Data Series:
0      Ajay
1        10
2    python
3     15.03
4        25
dtype: object
Modified Data Series:
0      NaN
1    10.00
2      NaN
3    15.03
4    25.00
dtype: float64

In [ ]:
#Question-11
# Pandas program to convert the second column of a DataFrame as a Series
# d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1,11]}

In [11]:
import pandas as pd
d = {'col1': [1, 2, 3, 4, 7, 11], 'col2': [4, 5, 6, 9, 5, 0], 'col3': [7, 5, 8, 12, 1, 11]}
df = pd.DataFrame(d)
series_col2 = df['col2']
print(series_col2)

0    4
1    5
2    6
3    9
4    5
5    0
Name: col2, dtype: int64

In [ ]:
#Question-12
# Write a Pandas program to get the items which are not common of two given series.
# [1, 2, 3, 4, 5], [7,  6, 5, 4, 3]

In [12]:
import pandas as pd
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([7, 6, 5, 4, 3])
# Get the unique elements in both series
union = pd.Series(pd.concat([series1, series2]).unique())
# Get the elements which are not common
not_common = union[~union.isin(series1) | ~union.isin(series2)]
print("Series 1: ")
print(series1)
print("\nSeries 2: ")
print(series2)
print("\nItems which are not common of the two series:")
print(not_common)

Series 1:
0    1
1    2
2    3
3    4
4    5
dtype: int64

Series 2:
0    7
1    6
2    5
3    4
4    3
dtype: int64

Items which are not common of the two series:
0    1
1    2
5    7
6    6
dtype: int64

In [ ]:
#Question-13
# Pandas program to find the minimum, 20th percentile, 50th percentile, 80th, and maximum of a given series of 
# [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

In [13]:
import pandas as pd
# create a series
s = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])
# find the minimum
min_val = s.min()
print("Minimum value:", min_val)
# find the 20th percentile
perc20 = s.quantile(0.2)
print("20th percentile:", perc20)
# find the 50th percentile
med = s.median()
print("Median:", med)
# find the 80th percentile
perc80 = s.quantile(0.8)
print("80th percentile:", perc80)
# find the maximum
max_val = s.max()
print("Maximum value:", max_val)

Minimum value: 20
20th percentile: 100.0
Median: 255.0
80th percentile: 590.0
Maximum value: 960

In [ ]:
#Question-14
# Write a Pandas program to create 6 subset of a given series of [0, 1,2,3,4,5,6,7,8,9,10] based on value

In [14]:
import pandas as pd
# Create the original series
original_series = pd.Series(range(11))
# Create subsets based on value
subset1 = original_series[original_series < 3]
subset2 = original_series[(original_series >= 3) & (original_series < 6)]
subset3 = original_series[(original_series >= 6) & (original_series < 8)]
subset4 = original_series[(original_series >= 8) & (original_series < 10)]
subset5 = original_series[original_series == 10]
subset6 = original_series[(original_series > 10)]
# Print the subsets
print("Subset 1: ", subset1.tolist())
print("Subset 2: ", subset2.tolist())
print("Subset 3: ", subset3.tolist())
print("Subset 4: ", subset4.tolist())
print("Subset 5: ", subset5.tolist())
print("Subset 6: ", subset6.tolist())

Subset 1:  [0, 1, 2]
Subset 2:  [3, 4, 5]
Subset 3:  [6, 7]
Subset 4:  [8, 9]
Subset 5:  [10]
Subset 6:  []

In [ ]:
#Question-15
# Write a Pandas program to add 400 to data to an existing Series
# [100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260]

In [15]:
import pandas as pd
# create the series
data = pd.Series([100, 20, 300, 250, 50, 360, 70, 180, 960, 100, 110, 320, 830, 640, 590, 260])
# add 400 to the series
data = data + 400
# display the updated series
print(data)

0      500
1      420
2      700
3      650
4      450
5      760
6      470
7      580
8     1360
9      500
10     510
11     720
12    1230
13    1040
14     990
15     660
dtype: int64