In [ ]:
#Question-1
# Select all the columns from the table Customers where the country is Germany and City is Berlin.

In [ ]:
SELECT * FROM Customers 
WHERE Country='Germany' AND City='Berlin';

In [ ]:
#Question-2
# Write a query to find out the city where the city is Paris and London from the Customers table

In [ ]:
SELECT City FROM Customers WHERE City = 'Paris' OR City = 'London';

In [ ]:
#Question-3
# Write a query to find out ProductName and SupllierID from table Products where supplierID is not equal to 1

In [ ]:
SELECT ProductName, SupplierID
FROM Products
WHERE SupplierID <> 1;

In [ ]:
#Question-4
# Write a query to find out the prices between 50 and 100 from the products table

In [ ]:
SELECT * FROM products WHERE price BETWEEN 50 AND 100;

In [ ]:
#Question-5
# Write a query to find out the price of items that are not equal to 30 from the products table.

In [ ]:
SELECT price FROM products WHERE price <> 30;

In [ ]:
#Question-6
# Write a statement to find out the price of a product greater than 50

In [ ]:
SELECT price FROM products WHERE price > 50;

In [ ]:
#Question-7
# Write a query to find out the price of items greater than 30 and equal to 30 from the products table.

In [ ]:
SELECT price FROM products WHERE price >= 30;

In [ ]:
#Question-8
# Write a statement and get a price from the product table where the price is greater than 30

In [ ]:
SELECT price FROM products WHERE price > 30 LIMIT 1;

In [ ]:
#Question-9
# Write a statement to find the fruit which is red on the basket table

In [ ]:
SELECT fruit FROM basket WHERE color = 'red';

In [ ]:
#Question-10
# Write a SQL statement to select all the customers from the country "USA", in the "Clients" table:

In [ ]:
SELECT * FROM Clients WHERE country = 'USA';