In [ ]:
#Question 1
# Using union operation add to sets containing the values of days of weeks;

In [1]:
a={'monday','tuesday','wednesday'}
b={'thursday','friday','saturday','sunday'}
print(a|b)

{'wednesday', 'sunday', 'monday', 'friday', 'saturday', 'tuesday', 'thursday'}

In [ ]:
#Question-2
# Initilize a set having months as values from January to At, then add the rest of months to it:
#   InitilizeTheSet = (‘January’, ‘February’,’March’)

In [ ]:
init_set = {'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August'}
init_set.update({'September', 'October', 'November', 'December'})
print(init_set)

In [ ]:
#Question-3
# Create a freeze set containg name of weeks and delete the last elemnt of the set:

In [2]:
weekdays = frozenset(["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"])
weekdays = frozenset(list(weekdays)[:-1])
print(weekdays)

frozenset({'Friday', 'Tuesday', 'Sunday', 'Saturday', 'Wednesday', 'Thursday'})

In [ ]:
#Question 4
# Make a set containing week days and print the values from Monday to Sunday Hint: use frozenset

In [7]:
days={'sunday','monday','tuesday','wednesday','thursday','friday','saturday'}
fnum=frozenset(days)
print(fnum)

frozenset({'wednesday', 'sunday', 'saturday', 'monday', 'friday', 'tuesday', 'thursday'})

In [8]:
#Question-5
# Find if the value h is in the given tuple: Valuee = (‘EkeedaIsTheBest’)

In [11]:
Valuee = ('EkeedaIsTheBest',)
if 'h' in Valuee[0]:
    print("'h' is present in the tuple")
else:
    print("'h' is not present in the tuple")

'h' is present in the tuple

In [ ]:
#Question 6
#Print the tuple values 5 times  Value = (‘ekeeda’’)

In [6]:
value=('ekeeda',)
print(value*5)

('ekeeda', 'ekeeda', 'ekeeda', 'ekeeda', 'ekeeda')

In [ ]:
#Question 7
# Return a set of elements that are not present in both sets A and B:
# A = {30, 40, 50, 60, 70}
# B = {10, 20, 30, 40, 50}

In [12]:
A={30,40,50,60,70}
B={10,20,30,40,50}
print(A^B)

{20, 70, 10, 60}

In [ ]:
#Question-8
#Add a list of elements to a set;
# sett= {"a", "b", "c"}
# li = ["x", "y", "z"]

In [13]:
sett={'a','b','c'}
li=('x','y','z')
sett.add(li)
print(sett)

{'b', 'a', ('x', 'y', 'z'), 'c'}

In [14]:
#Question-9
# Write a Python program to find the total number of times an item appeared in the tuple. Item= 2, 4, 5, 6, 2, 3, 4, 4, 7

In [15]:
item=(2,4,5,6,2,3,4,4,7)
print(len(item))

9

In [ ]:
#Question-10
# Tuple operations; Var = ('p','r','o','g','r','a','m','i','n’, ‘i’,’s’,’f’,’u’,’n').
# Print values between 5-8; 6-11; 5-9

In [16]:
var=('p','r','o','g','r','a','m','i','n','i','s','f','u','n')
print(var[5:8])
print(var[6:11])
print(var[5:9])

('a', 'm', 'i')
('m', 'i', 'n', 'i', 's')
('a', 'm', 'i', 'n')

In [ ]:
#Question-11
# Remove the elements from the set in single operation: set1 = {10, 20, 30, 40, 50}

In [19]:
set1={10,20,30,40,50}
set1.clear()
print(set1)

set()

In [ ]:
#Question-12
# Evaluate if the values in the tuple are same: Tup = (11,11,11,11,11)

In [20]:
Tup=(11,11,11,11,11)
print(Tup[0])
print(Tup[1])
print(Tup[2])
print(Tup[3])
print(Tup[4])

11
11
11
11
11

In [ ]:
#Question-13
# Sort a tuple of tuple of tuples based on the second item in it : tup = ((x, 20), (y, 10), ('y', 45), ('z', 33))

In [24]:
tup = (('x', 20), ('y', 10), ('y', 45), ('z', 33))
sorted_tup = sorted(tup, key=lambda x: x[1])
print(sorted_tup)

[('y', 10), ('x', 20), ('z', 33), ('y', 45)]

In [ ]:
#Question-14
# Write a Python program to see if the given sets have no common elements?
# x = {1,2,3,4}
# y = {4,5,6,7}
# z = {8,9,10}

In [25]:
x={1,2,3,4}
y={4,5,6,7}
z={8,9,10}
print(x&y&z)

set()

In [ ]:
#Question-15
# Write a Python program to compute the sum of nested tuples: nums = [(1,2,22), (2,44,-44), (2,4), (2,2,2,2.2)]

In [26]:
nums = [(1, 2, 22), (2, 44, -44), (2, 4), (2, 2, 2, 2.2)]
total = 0
for tup in nums:
    for item in tup:
        total += item
print("Sum of nested tuples:", total)

Sum of nested tuples: 41.2